<html>
    <head>
        <title>
            VK
        </title>
    </head>
    <body>
        <% include header.ejs %>
        Здесь у нас справка по работе нашего приложения. Для чего оно нужно и как им пользоваться

        knjrenvkgnerwgnrekj
        
    </body>
</html>